ossrh.username=toto
ossrh.password=thePasswd
developerId=id
developerName=theName
developerEmail=theMail
signing.keyId=YourKeyId
signing.password=YourPublicKeyPassword
signing.secretKeyRingFile=PathToYourKeyRingFile
user.eclipse.home=/home/cram-d/Apps/eclipse-neon
